.item-list .list-group-item {
    cursor: pointer;
}

.list-block {
    background-color: rgba(30, 95, 123, 0.607);
    padding: 25px 25px 15px 25px;
    margin-bottom: 40px;
    position: center;
    border-width: 2px 4px;
    border-radius: 40px;
    color: #55a4b2;
}

.list-block li {
    position: relative;
    padding: 10px 30px;
    background: linear-gradient(to left, #ADCEE9 0%, #FFF, #ADCEE9);
    border: 2px solid #337AB7;
    color: #506a6b;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
    margin-bottom: 5px;
    text-align: center;
    background-size: 100% 100%;
    z-index: 1;
}

.list-block li:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    background: linear-gradient(to left, #EBF3FA 0%, #FFF, #EBF3FA);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.list-block li:hover:before {
    width: 100%;
    opacity: 1;
}

.list-block h4 {
    margin-bottom: 20px;
    text-align: center;
}